<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>

        <typeAlias alias="Board" type="kr.project.shopping.domain.board.Board"/>
        <typeAlias alias="BoardDetailVo" type="kr.project.shopping.vo.board.BoardDetailVo"/>
        <typeAlias alias="BoardListVo" type="kr.project.shopping.vo.board.BoardListVo"/>
        <typeAlias alias="BoardSearchDto" type="kr.project.shopping.dto.board.BoardSearchDto"/>
        <typeAlias alias="BoardUpdateDto" type="kr.project.shopping.dto.board.BoardUpdateDto"/>
        <typeAlias alias="BoardFile" type="kr.project.shopping.domain.board.BoardFile"/>

        <typeAlias alias="CommentListVo" type="kr.project.shopping.vo.comment.CommentListVo"/>
        <typeAlias alias="CommentSaveDto" type="kr.project.shopping.dto.comment.CommentSaveDto"/>
        <typeAlias alias="CommentDetailVo" type="kr.project.shopping.vo.comment.CommentDetailVo"/>

        <typeAlias alias="RegItemSaveDto" type="kr.project.shopping.dto.shop.RegItemSaveDto"/>
        <typeAlias alias="RegItemThumbSaveDto" type="kr.project.shopping.dto.shop.RegItemThumbSaveDto"/>
        <typeAlias alias="RegItemDetailVo" type="kr.project.shopping.vo.shop.RegItemDetailVo"/>
        <typeAlias alias="RegItemListVo" type="kr.project.shopping.vo.shop.RegItemListVo"/>

        <typeAlias alias="BuyNoteListVo" type="kr.project.shopping.vo.shop.BuyNoteListVo"/>
        <typeAlias alias="BuyNoteSaveDto" type="kr.project.shopping.dto.shop.BuyNoteSaveDto"/>
        <typeAlias alias="BuyNoteDetailVo" type="kr.project.shopping.vo.shop.BuyNoteDetailVo"/>

        <typeAlias alias="User" type="kr.project.shopping.domain.user.User"/>

        <typeAlias alias="PwdChangeDto" type="kr.project.shopping.dto.user.PwdChangeDto"/>


        <typeAlias alias="Json" type="org.json.JSONObject"/>

    </typeAliases>

</configuration>