<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>

        <typeAlias alias="Board" type="kr.project.shopping.domain.board.Board"/>
        <typeAlias alias="BoardDetailVo" type="kr.project.shopping.vo.BoardDetailVo"/>
        <typeAlias alias="BoardListVo" type="kr.project.shopping.vo.BoardListVo"/>
        <typeAlias alias="BoardSearchDto" type="kr.project.shopping.dto.BoardSearchDto"/>

        <typeAlias alias="User" type="kr.project.shopping.domain.user.User"/>

        <typeAlias alias="PwdChangeDto" type="kr.project.shopping.dto.PwdChangeDto"/>


        <typeAlias alias="Json" type="org.json.JSONObject"/>

    </typeAliases>

</configuration>