#contentBox {
    display: grid;
    grid-template-rows: repeat(0, 450px);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    place-items: center;
}

#contentBox .card {
    width: 320px;
    height: 400px;
}